*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 7px 0;
    background-color: black;
}

header nav li{
    display: inline;
    margin-left: 16px;
}

header nav li a{
    display: inline;
    margin-left: 16px;
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Kanit', sans-serif;
    color: #34afe5;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section img{
    width: 700px;
    margin-top: 16px;
    margin-right: 25px;
}

section p{
    margin-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: black;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

.social-media img{
    width: 40px;
}

.social-media li{
    display: inline;
    margin-right: 8px;
}

.social-media a{
    text-decoration: none;
}

#contact .container{
    display: block;
}

.metodos-contato{
    display: flex;
    justify-content: space-around;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    height: 38px;
    margin-bottom: 8px;
    padding: 8px;
    border-color: #45b8e9;
    
}

form button{
    background-color: #34afe5;
    color: aliceblue;
    border-block: none;
    cursor: pointer;
}

form button:hover{
    background-color: #0876a5;
}

form textarea{
    resize: none;

}